#
# User defined Makefile options for graphlcd daemon and tools

### The C compiler and options:

CC       = gcc
CFLAGS   = -O2

CXX      = g++
CXXFLAGS = -g -O2 -Wall -Woverloaded-virtual
#CXXFLAGS = -g -ggdb -O0 -Wall -Woverloaded-virtual

#LDFLAGS  = -g -ggdb -O0

LDCONFIG = ldconfig

### The directory environment:

BINDIR = /usr/local/bin
LIBDIR = /usr/local/lib
INCDIR = /usr/local/include
MANDIR = /usr/local/man

### Includes and defines

#INCLUDES += -I

DEFINES += -D_GNU_SOURCE

# comment this variable out if you don't want to use FreeType2 font rendering
HAVE_FREETYPE2=1

ifdef HAVE_FREETYPE2
	ifneq ($(shell which freetype-config),)
		INCLUDES += $(shell freetype-config --cflags)
		LIBS += $(shell freetype-config --libs)
	else
		INCLUDES += -I/usr/include/freetype -I/usr/local/include/freetype
		LIBS += -lfreetype
	endif
	DEFINES += -DHAVE_FREETYPE2
endif
